<!DOCTYPE html>

<html>
    <head>
        <title>
            Estrée Anesthésie
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="css/main.css"/>
        <script src="/js/jquery.js"></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>

    <body>
        <div class="border border-dark rounded mx-auto my-5 p-2" style="width : 1200px;">
            <div class="text-center p-3">
                <h1>Estrée Anesthésie</h1>
            </div>  
            <table class="table text-center table-bordered">
                <thead class="">
                    <tr>
                        <th>Date</th>
                        <th>Jour 8h-20h  Médecin 1</th>
                        <th>Jour 8h-20h Médecin 2</th>
                        <th>Jour 8h-20h Médecin 3</th>
                        <th>Nuit 20h-8h Médecin 1</th>
                        <th>Nuit 20h-8h Médecin 2</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i = -2; i < 61; i++) {
                        if (i%2 == 0) { %>
                        <tr>
                            <th class="dark"><input class="cell-input dark" id="<%=`${i}-0`%>" type="text"/></th>
                            <th class="dark"><input class="cell-input dark" id="<%=`${i}-1`%>" type="text"/></th>
                            <th class="dark"><input class="cell-input dark" id="<%=`${i}-2`%>" type="text"/></th>
                            <th class="dark"><input class="cell-input dark" id="<%=`${i}-3`%>" type="text"/></th>
                            <th class="dark"><input class="cell-input dark" id="<%=`${i}-4`%>" type="text"/></th>
                            <th class="dark"><input class="cell-input dark" id="<%=`${i}-5`%>" type="text"/></th>
                        </tr>
                    <% } else { %>
                        <tr>
                            <th><input class="cell-input" id="<%=`${i}-0`%>" type="text"/></th>
                            <th><input class="cell-input" id="<%=`${i}-1`%>" type="text"/></th>
                            <th><input class="cell-input" id="<%=`${i}-2`%>" type="text"/></th>
                            <th><input class="cell-input" id="<%=`${i}-3`%>" type="text"/></th>
                            <th><input class="cell-input" id="<%=`${i}-4`%>" type="text"/></th>
                            <th><input class="cell-input" id="<%=`${i}-5`%>" type="text"/></th>
                        </tr>
                    <% } } %>
                </tbody>
            </table>
        </div>
    </body>
    
    <script src="js/main.js"></script>

</html>